.Navbar {
    height: 7vh;
    background-color: #fff;
    padding: 2vh 5%;
}
.Navbar-Components {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Navbar-Logo {
    display: flex;
    align-items: center;
    font-size: 1.5em;
    font-weight: 700;
}
.Navbar-Logo span:first-of-type {
    color: green;
}
.Navbar-Logo span:last-of-type {
    color: red;
}
.Navbar-Navs {
    display: none;
}
.Navbar-Category {
    display: flex;
    margin-right: 25px;
}
.Navbar-Category h1 {
    text-transform: capitalize;
    margin-bottom: 0px;
}

@media (min-width: 992px) {
    .Navbar-Navs {
        display: flex;
        cursor: pointer;
    }
}
