.Navbar {
    height: 7vh;
    width: 100%;
    background-color: #fff;
    padding: 1.5vh 10px;
    box-sizing: border-box;
}
.Navbar-Components {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

}
.Navbar-Logo {
    display: flex;
    align-items: center;
    font-weight: 700;
}
.Navbar-LogoLink {
    font-size: 1.5em;
    text-decoration: none;
    color: #000;
    display: block;
    margin-right: 10%;
}
.Navbar-Logo span:first-of-type {
    color: green;
}
.Navbar-Logo span:last-of-type {
    color: red;
}
.Navbar-Navs {
    display: none;
}
.Navbar-Category {
    display: flex;
    margin-right: 10%;
}
.Navbar-Category h1 {
    text-transform: capitalize;
    margin-bottom: 0px;
}
.Navbar-Buttons {
    display: none;
}
.Navbar-AccountDetails {
    display: flex;
    margin-left: auto;
    margin-right: 8px;
}
.Navbar-AccountField {
    margin: 0px 7px;
    font-size: 1.2em;
    display: none;
}
.Navbar-AccountField span {
    margin-left: 3px;
    font-weight: 700;

}

@media (min-width: 450px) {
    .Navbar-AccountField:last-of-type {
        display: block;
    }
}

@media (min-width: 550px) {
    .Navbar {
        padding: 2vh 4%;
    }
}

@media (min-width: 750px) {
    .Navbar-AccountField:first-of-type {
        display: block;
    }
}

@media (min-width: 1050px) {
    .Navbar-Components {
        display: flex;
        align-items: center;
    }
    .Navbar-Logo {
        margin-right: 15%;
    }
    .Navbar-Navs {
        display: flex;
        cursor: pointer;
    }
    .Navbar-SidebarToggle {
        display: none;
    }
    .Navbar-Buttons {
        display: block;
        margin-left: auto;
    }
}