.Home {
    padding: 10vh 25%;
}
.Home-Top {
    text-align: center;
    font-size: 1.5em;
}
.Home-Top h1 {
    margin-bottom: 15px;
}
.Home-Store {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 15px;
}
.Home-Store img {
    width: 100px;
    display: block;
}
.Home-ImageContainer {
    position: relative;
    height: 40vh;
    margin-top: 10px;
}
.Home-Image {
    width: 200px;
    height: 150px;
    object-fit: contain;
    position: absolute;
}
.Home-Image:first-of-type {
    bottom: 5px;
}
.Home-Image:last-of-type {
    right: 0px;
    top: 70px;
}

@media (min-width: 768px) {
    .Home {
        display: flex;
        align-items: center;
        padding-left: 10px;
        padding-right: 30px;
        width: 90%;
        margin: 20vh auto;
    }
    .Home-Top {
        text-align: start;
        width: 60%;
    }
    .Home-ImageContainer {
        height: 30vh;
        width: 40%;
        margin-left: 40px;
    }
    .Home-Image {
        width: 15vw;
        height: 15vw;
    }
    .Home-Image:first-of-type {
        bottom: 5px;
    }
    .Home-Image:last-of-type {
        right: 0px;
        top: 5px;
    }
}

@media (min-width: 920px) {
    .Home {
        width: 80%;
    }
}

@media (min-width: 1100px) {
    .Home {
        width: 70%;
    }
    .Home-Image {
        width: 12vw;
        height: 12vw;
    }
}

@media (min-width: 1350px) {
    .Home {
        width: 60%;
    }
    .Home-Image {
        width: 10vw;
        height: 10vw;
    }
}

@media (min-width: 1500px) {
    .Home {
        width: 50%;
    }
    .Home-Image {
        width: 8vw;
        height: 8vw;
    }
}