.Deposit {
    margin-top: 20vh !important;
}
.Deposit-Components {
    background-color: #fff;
    width: 90%;
    height: 380px;
    margin: 2vh auto;
    border-radius: 20px;
    padding: 7%;
    text-align: center;

}
.Deposit-UserIcon {
    font-size: 4em;
    margin-bottom: 70px;
}
.Deposit-Button {
    margin-top: 30px !important;
}

@media (min-width: 550px) {
    .Deposit-Components {
        width: 450px;
        padding: 50px;
    }
}