.SignIn-Info {
    margin: 5px 0px 40px 0px;
    text-align: center;
    color: red;
}
.SignIn-Components {
    background-color: #fff;
    width: 90%;
    height: 580px;
    margin: 2vh auto;
    border-radius: 20px;
    padding: 50px;
    text-align: center;
}
.SignIn-UserIcon {
    font-size: 4em;
    margin-bottom: 70px;
}
.SignIn-ReRoute {
    margin-top: 8vh;
}

@media (min-width: 550px) {
    .SignIn-Components {
        width: 450px;
    }
}