.OpenAccount-Components {
    background-color: #fff;
    width: 90%;
    margin: 2vh auto;
    border-radius: 20px;
    padding: 50px 7%;
    text-align: center;
}
.OpenAccount-ReRoute {
    margin-top: 14vh;
}

@media (min-width: 550px) {
    .OpenAccount-Components {
        width: 450px;
        padding: 50px;
    }
}