:root {
  --bodyBg_color: rgb(233, 246, 248);
  --general_font: 'Roboto', sans-serif;
  --primary_color: rgb(0, 255, 242);
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}
a {
  color: black;
  text-decoration: none;
}

body {
  margin: 0;
  font-family: var(--general_font);
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bodyBg_color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
